/* -*- mode: js; js-indent-level: 4; indent-tabs-mode: nil -*- */

// Default rules for polkit
//
// See the polkit(8) man page for more information
// about configuring polkit.

polkit.addAdminRule(function(action, subject) {
    return ["unix-user:0"];
});

polkit.addRule(function(action, subject) {
    if (action.id.indexOf("org.freedesktop.accounts.change-own-user-data") == 0) {
        if (!subject.isInGroup("adm")) {
            return polkit.Result.NO;
        } else {
            return polkit.Result.AUTH_KEEP_SELF;
        }
    }
});
